<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)" class="ion-text-center">

    <ion-grid>
      <ion-row>
        <ion-col style="background-color:lightskyblue;">
          <app-details [group]="loginForm" #appDetails></app-details>
        </ion-col>
        <ion-col style="background-color:gray;">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label style="font-size: small;" color="medium">Created Tasks: {{createdTaskCount}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label style="font-size: small;" color="medium">Created Links: {{createdLinkCount}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item *ngIf="failedTaskCount > 0">
                <ion-label style="font-size: small;" [style.color]="color">Failures: {{failedTaskCount}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col size="12">
              <ion-item>
                <ion-textarea placeholder="Output:" style="font-size: small;" readonly="true" rows="10"
                  value="{{outputText}}" autogrow="true" color="primary" autofocus="false">
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
    <ion-badge color="primary">Tasks</ion-badge>
      
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="8" style="background-color:lightcoral;">
          <ion-slides #slides>
            <ion-slide style="min-height: 40vh">
              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button size="small" (click)="addTaskTitle()">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
              <ion-list *ngIf="taskTitles.length">
                <ion-item *ngFor="let title of taskTitles">
                  <ion-label>{{title}}{{complexText}}</ion-label>
                  <ion-button color="danger" (click)="deleteTaskTitle(title)" slot="start">
                    Delete
                  </ion-button>
                </ion-item>

              </ion-list>
            </ion-slide>
            <ion-slide>
              <ion-item>
                <ion-input type="text" formControlName="taskTitleToAdd" placeholder="Enter a new task title">
                </ion-input>
                <ion-button (click)="addTask()" slot="end">
                  Add
                </ion-button>
                <ion-button color="secondary" (click)="cancelAddTask()" slot="end">
                  Cancel
                </ion-button>
              </ion-item>

            </ion-slide>

          </ion-slides>
        </ion-col>
        <ion-col size="4">
          <ion-item style="height: 100px;">
            <ion-label>Verbose Title</ion-label>
            <ion-toggle slot="start" (ionChange)="toggleChange()" color="success" formControlName="complexTitle"
              checked></ion-toggle>
          </ion-item>
          <ion-button (click)="onLoginSubmit()" [disabled]="!loginForm.valid">
            Submit
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>



  </form>
</ion-content>