<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>The main purpose of this app is to automate adding tasks to user stories in Azure DevOp.</p>
    <p>To do this a comma-separated list of user story IDs is needed. Click the download icon to pull IDs from a sprint. Alternatively you can just type or paste some IDs in, even straight from Excel.</p>
    <p>This was designed to run within a company's protected area. DevOps users should not be encourgaed to paste their PATs in a public website. </p>
  </ion-text>
</ion-content>
