<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <p>The main purpose of this app is to automate adding tasks to user stories in Azure DevOps.</p>
    <p>To do this a comma-separated list of user story IDs is needed. Click the download icon to pull IDs from a sprint. Alternatively you can just type or paste some IDs in, even straight from Excel.</p>
    <p>This site absolutely does not make any attempt to store the credentials anywhere. The code is available on <a href="https://github.com/mgcrmltd/mgcrmDevops">GitHub</a>, so it can be easily built and hosted locally.</p>
    <p>The Hours page allows you to create groups, for which the hours on tasks will be summed. Within each group you specify text tags. It will add the hours for tasks starting with the tag text to that group.</p>
    <p>This is just a utility. It hasn't been tested well, probably goes weird if you resize the browser and follows no UI guidelines. If you don't like it, just create your tasks manually.</p>
  </ion-text>
</ion-content>
