<form [formGroup]="group" >
<ion-item>
  <ion-label position="stacked">Devops URL</ion-label>
  <ion-input required="true" type="text" formControlName="devopsUrl" autocomplete="true"
    placeholder="e.g. https://dev.azure.com/abcltd"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Project Name</ion-label>
  <ion-input type="text" formControlName="projectName" placeholder="e.g. Project Backlog"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Personal Token</ion-label>
  <ion-input type="text" formControlName="personalToken"
    placeholder="e.g. n6tgu3ozeqwjuh5saabcdefghjz6jo7rfa3xf732forrncdnyn6xq"></ion-input>
</ion-item>
<ion-item *ngIf="!showGetIds">
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button size="small" (click)="getDevopsIds()">
      <ion-icon name="cloud-download"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button  size="small" (click)="saveDetails()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-label position="stacked">Enter user story IDs</ion-label>
  <ion-textarea
    placeholder="Enter here a list of user story IDs. You can paste straight from Excel or type in IDs separated by commas or spaces. Click the button to pull from a sprint"
    rows="4" cols="15" formControlName="idList" color="primary" autofocus="false"></ion-textarea>
</ion-item>
</form>
<form [formGroup]="sprintForm">
<span *ngIf="showGetIds">
  <ion-item style="--background:greenyellow;">
    <ion-label>Current Sprint</ion-label>
    <ion-toggle slot="start" (ionChange)="toggleGetIdsChange($event)" color="success" checked></ion-toggle>
    <ion-button [disabled]="!sprintForm.valid" (click)="getSprintIds()" slot="end">
      Add
    </ion-button>
    <ion-button color="secondary" (click)="cancelGetIds()" slot="end">
      Cancel
    </ion-button>
  </ion-item>
  <ion-item style="--background:greenyellow;">
    <ion-label position="stacked">Team Name</ion-label>
    <ion-input type="text" formControlName="teamName"></ion-input>
  </ion-item>
  <ion-item style="--background:greenyellow;" *ngIf="showSprintName">
    <ion-label position="stacked">Sprint Name</ion-label>
    <ion-input type="text" formControlName="sprintName"></ion-input>
  </ion-item>
</span>
</form>